.wrapper{
    display: flex;
   float: left;
   color: #4f9fdd;
   text-align: center;
   background-color: snow;
   font-size: 2.0em;
   border-right: 1px solid #1e2c42;
   border-collapse: collapse;
    width: 100%;
    overflow: auto;
}

.stats{
    padding-right: 4%;
    padding-left: 4%;
    border-right: 1px solid #1e2c42;
}

#submit {
    alignment: center;
    font-size: 0.6em;
    padding-top: 1%;
    position: relative;
    right: 1px;
    bottom: 2px;
    background-color: #df7d42;
    color: snow;
    border: 2px solid #df7d42;
    border-radius: 5px;
}
#NumPairs{
    padding-top: 1.0em;
}
.ui-widget-header,.ui-state-default {
    background:#FFFFFF;
    border: 2px solid #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #4f9fdd;
    font-weight: bold;
   /* alignment: top;
    max-width: 100%;
    max-height: 100%;*/
}
.ui-dialog .ui-dialog-titlebar-close{
    position: absolute;
    right: 1.0em;
    top: 8%;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
    background-color: #df7d42;
    color: snow;
    border: 2px solid #df7d42;
    border-radius: 5px;
}
.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
}
.ui-dialog-title{
        font-size: 1.4em;
        position: relative;
        bottom: 2.0em;
        left: 25%;
}
#ScoreDialog{
    border: 2px solid #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}
body{
    background-color: #456f91;
    color: whitesmoke;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    margin: 0 0;
}
form{
    padding-left: 0.12%;
}
table{
    width: 1000px;
    alignment: center;
    padding-top: 5%;
    margin: 5% auto;
}
img{
    width: 7.0em;
    height: 9.0em;
}
.flip-container{
    perspective: 1000px;
}
    .flip-container.hover .flipper{
        transform: rotateY(180deg);
    }
.flip-container, .front, .back {
    width: 10.0em;
    height: 10.0em;
}
.flipper{
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
    .front {
        z-index: 2;
        /*!* for Firefox 31 *!*/
        transform: rotateY(0deg);
    }
/*!* back, initially hidden pane *!*/
.back{
    transform: rotateY(180deg);
}
