form{
    width: 1000px;
    margin: 2% auto;
}
table{
    width: 1000px;
    alignment: center;
    margin: 3% auto;
}
img{
    width: 7.0em;
    height: 9.0em;
}
.flip-container{
    perspective: 1000px;
}
    .flip-container.hover .flipper{
        transform: rotateY(180deg);
    }
.flip-container, .front, .back {
    width: 10.0em;
    height: 10.0em;
}
.flipper{
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
    .front {
        z-index: 2;
        /*!* for Firefox 31 *!*/
        transform: rotateY(0deg);
    }
/*!* back, initially hidden pane *!*/
.back{
    transform: rotateY(180deg);
}
